@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,500;1,600;1,900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
   
}

body {


    height: 100vh;
    display: flex;
    padding: 1rem;
    background-color: #503E9D;
}

.sidebar {
    flex: 20%;
}

.sidebar .logo {
   margin-top: 2rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

.sidebar .logo h1 {
    font-size: 1.6rem;
    font-weight: bolder;
    color: white;

    width: 56px;
    display: grid;
    place-items: center;

    height: 56px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #6553B2;
}
.sidebar .logo h2 {
    font-size: 1.6rem;
    font-weight: bolder;
   color: white;
}


.menu {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap :2rem;
    justify-content: space-between;
    
}

.menu-item{
   
    display: flex ;
    align-items: center;
    gap : 1rem;
    color: white;
    padding: 1rem;
    border-radius: 32px 0px 0px 32px;

}
.active-link{
    background-color: white;
    color: #FB6D3A;
  }


.main-section {
    flex: 80%;
    background-color: white;
    border-radius: 3rem;
    padding: 1rem 3rem 0 3rem ;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main-section::-webkit-scrollbar {
    display: none;
}


.main-section-header{
    width: 100%;
    display: flex;
padding: 20px;
margin-top: 2rem;
align-items: center;
justify-content: space-between;
gap: 10px;
border-radius: 16px;
background: #503E9D;
}

.user-icon{

   display: grid;
   place-items: center;
 
 
    padding: 1rem;
    border-radius: 50%;
    background-color: #f9dfc0;

}

.post-input{
   flex: 1; 
   padding: 1rem;
   border-radius: 6px;
   border: none;
}

.create-post-btn{
    
    display: flex;
    padding: 12px 16px;
    align-items: flex-start;
    gap: 10px;
    color: white;
    border: none;
    border-radius: 6px;
background: #FB6D3A;
   
}

.main-section-body{
  
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.color-btn{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;
    border: none;
    color : white;
    font-size: 13px;
    border-radius: 100px;
    background: #FB6D3A;
    }


.dull-btn{
    display: flex;
    padding: 5px 10px;
    align-items: center;
    gap: 5px;
    border: none;
    color : #808080;
    font-size: 13px;
   
    border-radius: 100px;
background: var(--Border, #EAEAEA);
}
   

.post{
    display: flex;
width: 725px;
padding: 25px 30px;
flex-direction: column;
align-items: flex-start;
gap: 15px;
border-radius: 5px;
border: 1px solid var(--Border, #EAEAEA);
background: #FFF;

/* Shadow */
box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
.post-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
}



.post-btn{
    display: flex;
padding: 5px 10px;
align-items: center;
color: #808080;
border-radius: 5px;
border :none;
background: var(--Border, #EAEAEA);
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.post-thread-btn {
    border-radius: 14px;
    background: #FB6D3A;
    display: flex;
    width: 480px;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 6px;
  
    /* Shadow/Button/Secondary */
    box-shadow: 0px 1px 4px 0px rgba(139, 158, 184, 0.20);
    color: white;
    border: none;

}

.cancel-btn{
    display: flex;
width: 480px;
padding: 1rem 2rem;
justify-content: center;
align-items: center;
gap: 6px;
border-radius: 14px;
border: none;
/* Shadow/Button/Secondary */
box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}